body, ul {
    margin: 0;
    padding: 0;
}

.hide {
    display: none;
}
.loading {
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -24px;
    margin-top: -24px;
}
.shadow {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    opacity: 0.4;
    z-index: 9;
}

.model {
    position: fixed;
    left: 50%;
    top: 50%;
    width: 300px;
    height: 200px;
    border-radius: 7px;
    background-color: #fff;
    margin-left: -150px;
    margin-top: -100px;
    z-index: 10;
    text-align: center;
}
.delFileModel {
    position: fixed;
    left: 50%;
    top: 50%;
    width: 200px;
    height: 150px;
    border-radius: 7px;
    background-color: #fff;
    margin-left: -100px;
    margin-top: -75px;
    text-align: center;
    z-index: 10;
    padding-top: 30px;
}
.newFile, .newPro, .newJavaFile {
    margin-top: 15px;
}

#header {
    line-height: 48px;
    text-align: center;
    font-size: 20px;
    border-bottom: 1px solid #999999;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 48px;
    z-index: 23;
    background-color: #fff;
}


#main {
    height: 100%;
    width: 100%;
}

#directory {
    position: fixed;
    left: 0;
    top: 48px;
    bottom: 0;
    width: 20%;
    background-color: ghostwhite;
    border-right: 1px solid #999999;
}
#code {
    position: absolute;
    width: 80%;
    height: auto;
    margin-left: 20%;
}
#editCode {
    width: 80%;
    padding-left: 5px;
    margin: auto;
    margin-top: 90px;
    background-color: azure;
    border: 1px solid #333333;
    border-radius: 5px;
    z-index: 20;
}
.console {
    position: fixed;
    height: 40%;
    left: 22%;
    padding: 0 10px;
    right: 20%;
    top: 60%;
}
.content {
    position: fixed;
    height: 40%;
    left: 22%;
    padding: 0 10px;
    right: 20%;
    top: 100%;
    background-color: #d9d9d9;
    overflow: scroll;
    z-index: 10000;
}


#createFile, #createPro {
    height: 38px;
    border-bottom: 1px solid #999999;
    background-color: #fff;
    text-align: center;
    line-height: 38px;
    margin-top: 1px;
}

#createFile:hover, #createPro:hover {
    background-color: #f9f2f4;
    cursor: pointer;
}

.cur {
    position: absolute;
    top: 60px;
    left: 50%;
    font-size: 20px;
}

#runCode {
    position: relative;
    left: 80%;
    top: 20px;
    bottom: 20px;
    width: 70px;
    margin-left: -18px;
}
#saveCode {
    position: relative;
    left: 76%;
    top: 20px;
    bottom: 20px;
    width: 70px;
}
.close {
    position: absolute;
    left: 100%;
    bottom: 0;
    margin-left: -60px;
    display: inline-block;
    width: 60px;
    border: 1px solid #333333;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
}
.lineNumber {
    list-style: none;
    position: absolute;
    left: 10%;
    margin-left: -28px;
    top: 90px;
}
.lineNumber li {
    height: 20.8px;
    line-height: 20.8px;
}

.delFile, .delJavaFile, .delJavaPro {
    float: right;
    margin-right: 5px;
    z-index: 20;
    cursor: pointer;
}

.addJavaFile {
    float: right;
    margin-right: 5px;
    cursor: pointer;
}

.fileTypeList {
    position: fixed;
    left: 0;
    top: 0;
    height: 48px;
    width: 20%;
    text-align: left;
}

.file, .pro {
    cursor: pointer;
    -moz-user-select: none;/*火狐*/
    -webkit-user-select: none;/*webkit浏览器*/
    -ms-user-select: none;/*IE10*/
    user-select: none;
    list-style: none;
    height: 30px;
    line-height: 30px;
    border-bottom: 1px solid #b3b3b3;
    text-align: left;
    padding-left: 10px;
}

.file:not(.active):hover, .pro:not(.active):hover {
    cursor: pointer;
    background-color: #f9f2f4;
}

.fileTypeList li {
    margin-left: -5px;
    height: 48px;
    line-height: 48px;
    display: inline-block;
    border-right: 1px solid #b3b3b3;
    padding: 0 10px;
    cursor: pointer;
    user-select: none;
}

.select {
    background-color: #8ec0f4;
}

.LR{
    overflow: hidden;
}

.login, .register{
    float: left;
    width: 150px;
    border-bottom: 1px solid #999999;
    padding: 0;
    margin: 0;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    user-select: none;
}

.login {
    border-right: 1px solid #999999;
    border-top-left-radius: 7px;
}

.register {
    border-top-right-radius: 7px;
}

.my-enter, .my-leave-to {
    opacity: 0;
    transform: translateX(-150px);
}

.my-enter-active, .my-leave-active {
    transition: all 0.5s ease;
}

.arrow-right {
    width: 0;
    height: 0;
    margin: 7px 10px 0 0;
    display: inline-block;
    float: left;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 10px solid black;
}

.arrow-down {
    width: 0;
    height: 0;
    float: left;
    margin: 10px 10px 0 0;
    display: inline-block;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    border-top: 10px solid black;
}

.javaFile {
    cursor: pointer;
    -moz-user-select: none;/*火狐*/
    -webkit-user-select: none;/*webkit浏览器*/
    -ms-user-select: none;/*IE10*/
    background-color: white;
    user-select: none;
    list-style: none;
    height: 30px;
    line-height: 30px;
    border-bottom: 1px solid #b3b3b3;
    text-align: left;
    padding-left: 35px;
}

.active {
    background-color: #d9d9d9;
}

